@mixin btn {
  vertical-align: top;
  width: 120px;
  height: 46px;
  border-radius: 3px;
  color: #fff;
  font-size: 15px;
  @content;
}

@mixin btn-gray {
  @include btn {
    background-color: $gray;
    &:hover {
      background-color: $dark-gray;
    }
  }
}

@mixin btn-red {
  @include btn {
    background-color: $red;
    &:hover {
      background-color: $dark-red;
    }
  }
}

@mixin btn-close-x {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background: url("./images/header_sprites.png") -33px -51px;
  @content;
}
