@mixin swiper-button-prev-next {
  .swiper-button-prev,
  .swiper-button-next {
    top: 175px;
    left: -40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url("./images/icon_sprites.png") -181px 0;
    box-shadow: 5px 10px 25px 1px #7b7777;
    &::after {
      content: "";
    }
  }
  .swiper-button-next {
    right: -40px;
    left: auto;
    background-position: -262px 0;
  }
  @content;
}
