<footer id="footer">
  <div class="container">
    <div class="menu">
      <div class="column">
        <h3 class="title">회사소개</h3>
        <ul>
          <li><a href="#">아시아나항공 소개</a></li>
          <li><a href="#">제휴 항공사</a></li>
          <li><a href="#">지속가능경영</a></li>
          <li><a href="#">사회공헌</a></li>
          <li><a href="#">홍보채널</a></li>
          <li><a href="#">IR</a></li>
        </ul>
      </div>

      <div class="column">
        <h3 class="title">약관 및 규정</h3>
        <ul>
          <li><a href="#" class="badge">개인정보처리방침</a></li>
          <li><a href="#">이용약관</a></li>
          <li><a href="#">운송 약관 및 고지사항</a></li>
          <li><a href="#">아시아나클럽 규정</a></li>
        </ul>
      </div>

      <div class="column">
        <h3 class="title">기타안내</h3>
        <ul>
          <li><a href="#">항공교통이용자 서비스계획</a></li>
          <li><a href="#">피해 구제 계획</a></li>
          <li><a href="#">소비자 안전정보 안내</a></li>
          <li><a href="#">유료 부가서비스</a></li>
          <li><a href="#">사이트 맵</a></li>
          <li><a href="#">광고 안내</a></li>
        </ul>
      </div>
    </div>
    <!-- // FOOTER - MENU -->

    <address>
      <ul>
        <li class="corp">아시아나항공㈜</li>
        <li>대표이사 정성권</li>
        <li>사업자등록번호<a class="business-number" href="#">104-81-17480</a></li>
        <li>통신판매업 신고 제 16-2822</li>
      </ul>

      <ul>
        <li>서울특별시 강서구 오정로 443-83</li>
        <li>예약 1588-8000 / 02-2669-8000</li>
        <li>아시아나클럽 1588-8180 / 02-2669-8180</li>
      </ul>

      <ul>
        <li>개인정보보호책임자 여객전략 상무 임선진</li>
        <li>서버 위치 : 아시아나IDT㈜ 전산센터</li>
      </ul>
    </address>
    <!-- // FOOTER - ADDRESS -->

    <div class="copy">
      <p>&copy; ASIANA AIRLINES. All rights reserved.</p>
      <a href="#">지점연락처</a>
      <a href="#">제보실</a>
    </div>
    <!-- // FOOTER - COPY -->

    <ul class="logo-list">
      <li>
        <a href="#">
          <span class="blind">A STAR ALLIANCE MEMBER</span>
        </a>
      </li>

      <li>
        <span class="blind">스카이트랙스 선정 13년 연속 5스타 항공사(2007~현재)</span>
      </li>

      <li>
        <span class="blind"
          >I love Mecenat 당사는 메세나활동을 통해 사회공헌을 실천하는 메세나기업입니다.</span
        >
      </li>
    </ul>
    <!-- // FOOTER - LOGO LIST -->

    <ul class="sns-link-list">
      <li>
        <a href="#"><span class="blind">아시아항공 유튜브</span></a>
      </li>

      <li>
        <a href="#"><span class="blind">아시아항공 인스타그램</span></a>
      </li>

      <li>
        <a href="#"><span class="blind">아시아항공 페이스북</span></a>
      </li>

      <li>
        <a href="#"><span class="blind">아시아항공 트위터</span></a>
      </li>

      <li>
        <a href="#"><span class="blind">아시아항공 카카오스토리</span></a>
      </li>
    </ul>
    <!-- // FOOTER - SNS LINK LIST -->

    <ul class="qr-code-list">
      <li class="google"><span class="blind">구글플레이 스토어</span></li>
      <li class="apple"><span class="blind">애플 스토어</span></li>
    </ul>
    <!-- // FOOTER - QR CODE LIST -->
  </div>
</footer>
<!-- // FOOTER -->
