<div class="util">
  <div class="container">
    <ul class="left">
      <li><a href="#">마일리지 적립몰</a></li>
      <li><a href="#">기내 면세점</a></li>
      <li><a href="#">기업우대</a></li>
    </ul>
    <!-- // LEFT -->

    <ul class="right">
      <li><a href="#">로그인</a></li>
      <li><a href="#">이벤트</a></li>
      <li class="customer-service">
        <a href="#">고객서비스</a>
        <ul class="dropdown">
          <li><a href="#">공지사항</a></li>
          <li><a href="#">자주찾는질문</a></li>
          <li><a href="#">고객의말씀</a></li>
          <li><a href="#">양식다운로드</a></li>
          <li><a href="#">코로나19 종합안내</a></li>
        </ul>
      </li>
      <li class="select-language">
        <a href="javascript:void(0);" aria-label="언어 선택창 열기"><span>대한민국</span></a>
        <div class="dropdown">
          <h3 class="title">선택하세요</h3>
          <button type="button" class="btn-close" aria-label="언어 선택창 닫기"></button>
          <form action="#">
            <select class="nation">
              <option value="KR">대한민국</option>
              <option value="DE">독일</option>
              <option value="US">미국</option>
              <option value="VN">베트남</option>
              <option value="ES">스페인</option>
              <option value="SG">싱가포르</option>
              <option value="GB">영국</option>
              <option value="UZ">우즈베키스탄</option>
              <option value="IT">이탈리아</option>
              <option value="ID">인도네시아</option>
              <option value="JP">일본</option>
              <option value="CN">중국</option>
              <option value="HK">중국, 홍콩</option>
              <option value="KZ">카자흐스탄</option>
              <option value="KH">캄보디아</option>
              <option value="TH">태국</option>
              <option value="TR">터키</option>
              <option value="FR">프랑스</option>
              <option value="PH">필리핀</option>
              <option value="AU">호주</option>
              <option value="MN">몽골</option>
            </select>
            <select class="language">
              <option value="KO">한국어</option>
              <option value="EN">English</option>
            </select>
            <button type="submit" class="btn-submit">적용하기</button>
          </form>
        </div>
      </li>
      <li class="korean"><a href="#">한국어</a></li>
      <li class="english"><a href="#">English</a></li>
    </ul>
    <!-- // RIGHT -->
  </div>
</div>
<!-- // UTIL -->

<div class="main">
  <div class="mega-menu-content-bg"></div>
  <div class="container">
    <h1 class="logo">
      <a href="#">
        <img src="./assets/icons/logo.png" alt="아시아나 에어라인 로고" />
      </a>
    </h1>
    <!-- // LOGO -->

    <nav>
      <span class="sliding-underline"></span>
      <ul>
        <li>
          <a href="#">예약</a>
          <div class="mega-menu-content">
            <div class="container">
              <div class="column">
                <h2 class="title"><a href="#">항공권 예약</a></h2>
                <ul>
                  <li><a href="#">항공권 예약</a></li>
                  <li><a href="#">최저가 간편조회</a></li>
                  <li><a href="#">오즈드림페어</a></li>
                  <li><a href="#">신용카드 혜택</a></li>
                  <li><a href="#">예약 안내</a></li>
                  <li><a href="#">운임 안내</a></li>
                </ul>
              </div>
              <div class="column">
                <h2 class="title"><a href="#">예약 조회</a></h2>
                <ul>
                  <li><a href="#">예약 내역</a></li>
                  <li><a href="#">항공권 구매 내역</a></li>
                </ul>
              </div>
              <div class="column">
                <h2 class="title"><a href="#">체크인 하기</a></h2>
                <ul></ul>
              </div>
              <div class="column">
                <h2 class="title"><a href="#">운항정보</a></h2>
                <ul>
                  <li><a href="#">스케쥴 조회</a></li>
                  <li><a href="#">출도착 조회</a></li>
                </ul>
              </div>
              <div class="column">
                <h2 class="title"><a href="#">취항지정보</a></h2>
                <ul>
                  <li><a href="#">운항 노선</a></li>
                  <li><a href="#">여행 정보</a></li>
                  <li><a href="#">캐빈승무원 여행일기</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <!-- // NAV - LI 1. 예약 -->

        <li>
          <a href="#">여행 준비</a>
          <div class="mega-menu-content">
            <div class="container">
              <div class="column">
                <h2 class="title"><a href="#">체크인 안내</a></h2>
                <ul>
                  <li><a href="#">사전 체크인</a></li>
                  <li><a href="#">공항 체크인</a></li>
                </ul>
              </div>
              <div class="column">
                <h2 class="title"><a href="#">사전 좌석 배정</a></h2>
                <ul></ul>
              </div>
              <div class="column">
                <h2 class="title"><a href="#">수하물</a></h2>
                <ul>
                  <li><a href="#">이용 안내</a></li>
                  <li><a href="#">위탁 수하물</a></li>
                  <li><a href="#">휴대 수하물</a></li>
                  <li><a href="#">수하물 계산기</a></li>
                  <li><a href="#">운송제한 물품</a></li>
                  <li><a href="#">수하물 보상</a></li>
                </ul>
              </div>
              <div class="column">
                <h2 class="title"><a href="#">도움이 필요한 고객</a></h2>
                <ul>
                  <li><a href="#">장애인 고객</a></li>
                  <li><a href="#">고령자 고객</a></li>
                  <li><a href="#">임산부 고객</a></li>
                  <li><a href="#">유/소아 동반 고객</a></li>
                  <li><a href="#">혼자 여행하는 어린이/청소년</a></li>
                  <li><a href="#">반려동물 동반</a></li>
                  <li><a href="#">의료도움이 필요한 고객</a></li>
                </ul>
              </div>
              <div class="column">
                <h2 class="title"><a href="#">출입국 신고서</a></h2>
                <ul>
                  <li><a href="#">출입국 신고서</a></li>
                  <li><a href="#">미국 입출국 기록(I-94)전자열람</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <!-- // NAV - LI 2. 여행 준비 -->

        <li>
          <a href="#">여행</a>
          <div class="mega-menu-content">
            <div class="container">
              <div class="column">
                <h2 class="title"><a href="#">공항에서</a></h2>
                <ul>
                  <li><a href="#">공항 안내</a></li>
                  <li><a href="#">탑승수속 절차</a></li>
                  <li><a href="#">라운지 이용</a></li>
                </ul>
              </div>
              <div class="column">
                <h2 class="title"><a href="#">기내에서</a></h2>
                <ul>
                  <li><a href="#">클래스별안내</a></li>
                  <li><a href="#">기내식/음료</a></li>
                  <li><a href="#">기내서비스순서</a></li>
                  <li><a href="#">기내특별서비스</a></li>
                  <li><a href="#">기내유실물조회</a></li>
                  <li><a href="#">기내 엔터테인먼트</a></li>
                  <li><a href="#">기내지 ASIANA 모바일앱</a></li>
                  <li><a href="#">국제선 기내면세품</a></li>
                  <li><a href="#">기내건강</a></li>
                  <li><a href="#">휴대용전자기기 사용안내</a></li>
                </ul>
              </div>
              <div class="column">
                <h2 class="title"><a href="#">항공기 정보</a></h2>
                <ul>
                  <li><a href="#">A380-800</a></li>
                  <li><a href="#">B747-400</a></li>
                  <li><a href="#">A350-900</a></li>
                  <li><a href="#">B777-200ER</a></li>
                  <li><a href="#">A330-300</a></li>
                  <li><a href="#">B767-300</a></li>
                  <li><a href="#">A321-neo</a></li>
                  <li><a href="#">A321-100/200</a></li>
                  <li><a href="#">A320-200</a></li>
                </ul>
              </div>
              <div class="column">
                <h2 class="title"><a href="#">유료 부가서비스</a></h2>
                <ul>
                  <li><a href="#">레그룸 좌석</a></li>
                  <li><a href="#">프론트 존</a></li>
                  <li><a href="#">듀오 좌석</a></li>
                  <li><a href="#">이코노미 스마티움</a></li>
                  <li><a href="#">로얄 비즈니스</a></li>
                  <li><a href="#">업그레이드 스탠바이</a></li>
                  <li><a href="#">기내 Wi-Fi</a></li>
                  <li><a href="#">도움이 필요한 고객</a></li>
                  <li><a href="#">수하물 사전 구매</a></li>
                </ul>
              </div>
              <div class="column">
                <h2 class="title"><a href="#">매직보딩패스</a></h2>
                <ul>
                  <li>
                    <a href="#"
                      ><img
                        src="./assets/images/magic_boarding.jpeg"
                        alt="Magic Boarding Pass 탑승권으로 할인받는 다양한 제휴사 혜택"
                    /></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <!-- // NAV - LI 3. 여행 -->

        <li>
          <a href="#">아시아나클럽</a>
          <div class="mega-menu-content">
            <div class="container">
              <div class="column">
                <h2 class="title"><a href="#">회원제도</a></h2>
                <ul>
                  <li><a href="#">회원안내</a></li>
                  <li><a href="#">특별 프로그램</a></li>
                  <li><a href="#">할인제휴사</a></li>
                </ul>
              </div>
              <div class="column">
                <h2 class="title"><a href="#">마일리지적립</a></h2>
                <ul>
                  <li><a href="#">아시아나항공</a></li>
                  <li><a href="#">특별 스타얼라이언스/제휴항공사</a></li>
                  <li><a href="#">마일리지 적립몰</a></li>
                  <li><a href="#">금융(신용카드,환전)</a></li>
                  <li><a href="#">쇼핑</a></li>
                  <li><a href="#">여행(호텔,렌터카,여행자보험)</a></li>
                  <li><a href="#">라이프(통신,보험)</a></li>
                  <li><a href="#">누락마일리지적립</a></li>
                </ul>
              </div>
              <div class="column">
                <h2 class="title"><a href="#">마일리지사용</a></h2>
                <ul>
                  <li><a href="#">아시아나항공</a></li>
                  <li><a href="#">스타얼라이언스/제휴항공사</a></li>
                  <li><a href="#">마일리지사용몰</a></li>
                </ul>
              </div>
              <a href="#"
                ><img
                  src="./assets/images/check_mileage.jpeg"
                  alt="마일리지 유효기간을 확인해보세요!(KO)"
              /></a>
            </div>
          </div>
        </li>
        <!-- // NAV - LI 4. 아시아나클럽 -->
      </ul>
    </nav>
    <!-- // NAV -->

    <ul class="actions">
      <li class="chat-bot">
        <a href="javascript:void(0);" role="button" aria-label="챗봇 팝업창 열기"> </a>
        <div class="dropdown">
          <span class="arrow-with-box-shadow"></span>
          챗봇 '아론' 에게 물어보세요
        </div>
      </li>
      <!-- // CHAT BOT -->

      <li class="my-asiana">
        <a href="#" aria-label="마이 아시아나"></a>
      </li>
      <!-- // MY ASIANA -->

      <li class="search">
        <a href="javascript:void(0);" role="button" aria-label="검색창 열기"> </a>
        <div class="dropdown">
          <div class="inner">
            <span class="arrow-with-box-shadow"></span>
            <form action="#">
              <button type="button" class="btn-close" aria-label="검색창 닫기"></button>
              <input type="text" placeholder="검색어를 입력하세요" />
              <button type="submit" class="btn-submit">검색</button>
            </form>
          </div>
        </div>
      </li>
      <!-- // SEARCH -->
    </ul>
    <!-- // ACTIONS -->
  </div>
</div>
<!-- // DIV MAIN -->
