<div id="right-wing">
  <div class="quick-menu">
    <button class="btn-open"><span class="blind">퀵 메뉴 열기</span></button>
    <ul>
      <li class="flight-booking">
        <button><span>항공권 예약</span></button>
      </li>
      <li class="reservation-check">
        <button><span>예약 조회</span></button>
      </li>
      <li class="check-in">
        <button><span>체크인</span></button>
      </li>
      <li class="departure-arrival-check">
        <button><span>출도착 조회</span></button>
      </li>
    </ul>
  </div>
  <button class="to-top" title="최상단으로 이동">
    <span class="blind">최상단으로 이동</span>
  </button>
</div>
<!-- // RIGHT WING -->
