<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <!-- Google Fonts -->
    <include src="google_fonts.html"></include>
  </head>
  <body>
    <include src="skip.html"></include>
    <!-- // SKIP -->

    <include src="header.html"></include>
    <!-- // HEADER -->

    <include src="location_bar.html"></include>
    <!-- // LOCATION BAR -->

    <main></main>
    <!-- // MAIN -->

    <include src="footer.html"></include>
    <!-- // FOOTER -->
  </body>
</html>
