$red: #d60815;
$dark-red: #b3000b;

$black: #000;
$light-black: #222;

$raven: #6d6e70;
$mako: #454747;
$trout: #4a4c4d;

$gray: #ccc;
$light-gray: #ddd;

$white-smoke: #f3f3f3;
$light-white-smoke: #f7f7f7;
$white: #fff;

$vertical-bar-width: 1px;
$vertical-bar-height: 12px;
$vertical-bar-color: $gray;

$component-height: 46px;

$skip-z-index: 1000;
$dropdown-z-index: 500;
$header-z-index: 500;
$swiper-z-index: 10;
