#main-slide {
  .container {
    width: 100%;
    max-width: 1920px;
    .swiper-container {
      .item {
        position: relative;
        display: block;
        .text-img {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: opacity 0.4s ease-out;
        }
      }
      .swiper-pagination {
        bottom: 35%;
        left: 19.2%;
        width: auto;
        .swiper-pagination-bullet {
          width: 38px;
          height: 4px;
          margin: 0 5px;
          border-radius: 5px;
          background-color: $white;
          opacity: 1;
        }
        .swiper-pagination-bullet-active {
          background-color: #f00;
        }
      }
      .btn-toggle-play {
        position: absolute;
        left: 32.5%;
        width: 9px;
        height: 10px;
        background-image: url("./assets/icons/sprite_sheet_3.png");
        z-index: $swiper-z-index;
        &.icon-play {
          bottom: 35.2%;
          height: 12px;
          background-position: -126px -89px;
        }
        &.icon-pause {
          bottom: 35.4%;
          height: 10px;
          background-position: -126px -69px;
        }
      }
      .swiper-button-prev,
      .swiper-button-next {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: url("./assets/icons/sprite_sheet_1.png") 0 0;
      }
      .swiper-button-prev {
        left: 12.5%;
      }
      .swiper-button-next {
        right: 12.5%;
        background-position-x: -81px;
      }
    }
  }
}
